.input {
    width: 85%;
    height: 3rem;
    font-size: 2rem;
    background: transparent;
    color: white;
    border: none;
    outline: none;
}
.input::placeholder { 
    opacity: 0; transition: opacity 0.4s;
}
