.form {
    border-radius: 5px;
    border: solid 2px white;
    background: rgba(128, 128, 128, 0.5);
    
}

.input {
    width: 85%;
    height: 3rem;
    font-size: 2rem;
    background: transparent;
    color: white;
    border: none;
    outline: none;
}
.input::placeholder { 
    color: rgb(99, 99, 99);
    opacity: 1; 
    transition: opacity 0.4s;
}


.submit {
    height: 3rem;
    position: relative;
    top: 0.2rem;
    background: transparent;
    border: none;
}

.cross {
    height: 2rem;
    position: absolute;
    top: 0.3rem;
    right: 3rem;
    background: transparent;
    border: none;
}


.spinner {
    height: 2rem;
    animation: rotate 1.5s linear infinite;
}

@keyframes rotate{
    to{ transform: rotate(360deg); }
}

.search {
    height: 2rem;
}

